@import "../../packages/ui/src/styles/main";

body {
  background: $primary-dark;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1202px;
    width: 100%;
    padding: 16px;
  }
}