.button {
  background-color: $primary;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 16px;
  border: none;
  border-top: 1px solid transparent;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
    transform: translateY(2px);
  }
  
  &.active {
    background-color: $primary-light;
    font-weight: 500;
    border-top: 1px solid $info;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  
  @media (min-width: 768px) {
    align-items: center;
  }
}